#ignore build dirs
Build/

#ignore tools
edk2/
CC/
cross-llvm/

#ignore Modules for now
Modules/
#ignore Documents
Documents/
#ignore Protocols for now
Protocols/

#ignore all object files
**/*.o
*.o
